pkgbase = budget-cli
	pkgdesc = A command line app to accompany the budget-tool.
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/AmateurECE/budget-tool
	arch = any
	groups = edtwardy
	license = GPLv3
	makedepends = cargo
	depends = glibc
	depends = gcc-libs
	source = https://github.com/AmateurECE/budget-tool/archive/refs/tags/v0.1.1.tar.gz
	sha256sums = 398e73b05b4c186d55da32d3360049c03090ee0ed1eb692f759c71d402c1c257

pkgname = budget-cli
