pkgbase = startwm-m1
	pkgdesc = wrapper script to run window managers based on wlroots
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/AmateurECE/startwm.git
	arch = any
	license = MIT
	source = https://github.com/AmateurECE/startwm/archive/bbbdaf95be71adfd847c40aa9cba6979777f0d85.tar.gz
	sha256sums = 0058312828e77ecb76b73d9d429b32228d4b9184f285aed8f33a169cd8d1612e

pkgname = startwm-m1
