pkgbase = startwm-m1
	pkgdesc = wrapper script to run window managers based on wlroots
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/AmateurECE/startwm.git
	arch = any
	license = MIT
	source = https://github.com/AmateurECE/startwm/archive/0c7985ea477becb8ad2e2e57f1ea8849b5611486.tar.gz
	sha256sums = 96c998e015c2fc804eae260c2fbc647d33e54dbe8e89872616febea86f81bde0

pkgname = startwm-m1
